body {
    background-color: #333;
    color: #666;
    font-family: sans-serif;
    
    margin: 10px;
    padding: 10px;
    
    display: "flex";
    flex-direction: "column";
}
article {
    background-color: #666;
    color: #AAA;
    
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
section {
    position: relative;
    /*border: solid 1px #FFF;*/
    background-color: #AAA;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
figure {
    position: relative;
    /*border: solid 1px #000;*/
    display: inline-block;
}
figure > img {
    width: 300px;
    height: 300px;
}
figcaption:first-of-type {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0;
    font-style: bold;
    font-size: 20px;
}
figcaption:last-of-type {
    position: absolute;
    bottom: 5%;
    left: 5%;
    margin: 0;
}